<!-- <div class="jumbotron text-center">
    <h1 class="display-3">Thank You for your message!</h1>
    <p class="lead"><strong>Your message has been delivered to us.</strong><br><br>
        Please be patient we will respond to you soon.</p>
    <hr>
   
    <p class="lead">
      <a class="btn btn-warning btn-sm" href="" role="button" routerLink="/home" routerLinkActive="active">Back to homepage</a>
    </p>
  </div> -->

<div class="thankyou-page">
    <div class="_header">
        <div class="logo">
            <img src="https://codexcourier.com/images/banner-logo.png" alt="">
        </div>
        <h1>Thank You!</h1>
    </div>
    <div class="_body">
        <div class="_box">
            <h1>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>Your message has been delivered to
                    us.</strong>
            </h1><br>
            <h3> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Please be patient, we will respond to you
                soon.</h3><br>
            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                Thanks a bunch for filling that out. We really appreciate you
                giving us a moment of your time today. 
            </p>
        </div>
    </div>
    <div class="_footer">
               <a class="btn btn-warning btn-sm" href="" role="button" routerLink="/home" routerLinkActive="active" href="">Back to homepage</a>
    </div>
</div>