<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    <div class="container">
      
        <br><br><br>
        <h2>404 Error &nbsp;<img class="errorlogo" src="https://www.freeiconspng.com/uploads/error-icon-32.png" alt=""></h2>
        <h3>Oops, seems like nothing here...</h3><br>
        <p>Please Check the URL you have entered </p><br>
        <p>Otherwise, <a routerLink="/home" routerLinkActive="active" class="">Click here</a> to redirect to Homepage.</p>
    </div>
</body>
</html>