<section class="" style="background-color: #8fc4b7;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <div class="d-flex align-items-center mb-3 pb-1">
                        <img class="brand" src="https://scontent.fdbd1-2.fna.fbcdn.net/v/t1.6435-9/71137161_106565474075069_4508547519889801216_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=peYhoAIDhxsAX_RwSwi&_nc_ht=scontent.fdbd1-2.fna&oh=00_AT9oU_IeuCcXxdMmYE7jDPOsOjNn66hvGMkJw1tPDCThPw&oe=62FC2802">
                        <span class="h1 fw-bold mb-0">MediBliss</span>
                      </div>
                  <p class="text-center h4 mb-5 mx-1 mx-md-4 mt-4">Register With Us and join our family</p>
                  
                  <form class="mx-1 mx-md-4">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="form3Example1c" class="form-control" required/>
                        <label class="form-label" for="form3Example1c">Your Name</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" id="form3Example3c" class="form-control" required/>
                        <label class="form-label" for="form3Example3c">Your Email</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" id="form3Example3c" class="form-control" required/>
                          <label class="form-label" for="form3Example3c">Your Mobile Number </label>
                        </div>
                      </div>

  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4c" class="form-control" require />
                        <label class="form-label" for="form3Example4c">Password</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4cd" class="form-control" required />
                        <label class="form-label" for="form3Example4cd">Repeat your password</label>
                      </div>
                    </div>
  
                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                      <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a routerLink="/terms" routerLinkActive="active" href="#">Terms & services</a>
                      </label>
                      
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="button" class="btn btn-warning btn-lg">Register</button>
                      <a class="btn btn-info" routerLink="/login" routerLinkActive="active" href="#">Back to Login</a>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                    <div class="img">
                        <img src="https://scontent.fdbd1-1.fna.fbcdn.net/v/t1.6435-9/70510222_106565817408368_1773558709968961536_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_ohc=oQ8hmbwXWWMAX-yBRRn&_nc_ht=scontent.fdbd1-1.fna&oh=00_AT_gPIxtNplS80mL97ibCaMH9LBZJ-z0VNMFcGP5TzWZqA&oe=62FC75B7"
                          alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>