<section class="" style="background-color: #8fc4b7;">
  <div class="">
    <div class="row d-flex justify-content-center align-items-center h-1000">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <div class="img">
              <img src="https://scontent.fdbd1-1.fna.fbcdn.net/v/t1.6435-9/70510222_106565817408368_1773558709968961536_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_ohc=oQ8hmbwXWWMAX-yBRRn&_nc_ht=scontent.fdbd1-1.fna&oh=00_AT_gPIxtNplS80mL97ibCaMH9LBZJ-z0VNMFcGP5TzWZqA&oe=62FC75B7"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <img class="brand" src="https://scontent.fdbd1-2.fna.fbcdn.net/v/t1.6435-9/71137161_106565474075069_4508547519889801216_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=peYhoAIDhxsAX_RwSwi&_nc_ht=scontent.fdbd1-2.fna&oh=00_AT9oU_IeuCcXxdMmYE7jDPOsOjNn66hvGMkJw1tPDCThPw&oe=62FC2802">
                    <span class="h1 fw-bold mb-0">MediBliss</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example17" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">Email address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Password</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-warning btn-lg btn-block" type="button">Login</button>
                  </div>

                  <a class="small text-muted" href=""routerLink="/forgotpass" routerLinkActive="active"><span style="color:#470fe4;">Forgot password?</span> </a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a routerLink="/register" routerLinkActive="active"
                      style="color: #470fe4;">Register here</a></p>
                  <a href=""  routerLink="/terms" routerLinkActive="active" class="small text-muted" ><span style="color:#470fe4;">Terms & Services</span></a><br>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

