<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Medicine Name</th>
                            <th>Medicine Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                            <td style="width: 25%;">{{item.description}}</td>
                          
                            <th style="width: 12%;">{{item.price}}</th>
                            <td style="width: 12%;">{{item.quantity}}</td>
                            <td style="width: 12%;">{{item.total}}</td>

                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><i
                                        class="fas fa-trash-alt"></i></button>
                            </td>
                            
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
                            <td><button routerLink="/products" class="btn btn-primary">Buy More</button></td>
                            <td><a class="btn btn-success" routerLink="/checkout" routerLinkActive="active">Checkout</a></td>
                            <td><strong>Grand Total : ₹{{grandTotal}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title ">My Cart</h5>
        </div>
        <div class="center">
            <img src="https://media.istockphoto.com/photos/capsules-in-the-shopping-cart-isolated-on-white-background-picture-id155438480?k=20&m=155438480&s=612x612&w=0&h=No7R2wdMMqFqiUwlNVo4Wy7o7-pS9chlAzaBjFOI5xE="
                alt="">
            <h4><strong>Oops! Nothing in the cart</strong></h4>
            <h6>Add meds/products to it now</h6>
            <button routerLink="/products" class="btn btn-warning"><b>Buy Medicines</b></button>
        </div>
    </div>
</ng-container>